body
{
    background-color: rgb(247, 229, 214);
}
#header {
    background-color: rgb(236, 153, 120);
    margin:auto;
    width:1920px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

ul, ol {
    list-style:none;
    
}
.nav
{
    width:1920px; 
}
.nav > li {
    float:left;
    
}

.nav li a {
    background-color: rgb(236, 153, 120);0;
    color:#fff;
    text-decoration:none;
    padding: 14px 16px;
    display:block;
    
}

.nav li a:hover {
    background-color: rgb(243, 70, 1);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.margenlogo{
    margin-left: 15%;
  }
  .margenmenu{
    margin-left: 50%;
  }

  .titulo
  {
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    text-align: center;
    color: rgb(255, 246, 232);
   margin-top: 5%;
    margin-right: 18%;
    text-shadow: 4px 0px 0px  rgb(243, 70, 1);
  }
  .formmargen
  {
    margin-left: 20%;
    padding: 3%;
    background-color: rgb(236, 153, 120);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    border-radius: 2%;
    box-shadow: 5px 5px 10px  rgb(68, 38, 35);
  }
  .boton
  {
    background-color:rgb(243, 70, 1);
    border-color: brown;
    box-shadow: 5px 5px 10px  rgb(68, 38, 35);
  }
  .boton:hover {
    background-color: rgb(155, 37, 1);
    border-color: brown;
    box-shadow: 5px 5px 10px  rgb(68, 38, 35);
}
.margenboton
{
    margin-top: 2%;
}
.formmargen2
{
  margin-left: 5%;
  padding: 3%;
  background-color: rgb(236, 153, 120);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: rgb(255, 255, 255);
  border-radius: 2%;
  box-shadow: 5px 5px 10px  rgb(68, 38, 35);
}